@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
	font-family: 'arimo', sans-serif;
	margin: 40px;
	color: #333;
	font-size: 14px;
}

.ui-selectmenu-text, .ui-menu-item {
	font-size: 12px;
}

div {
	margin: 10px;
}

#location {
}

#gamearea, #output {
	border-radius: 5px;
	border: 1px solid rgb(166, 201, 226);
	margin: 10px; padding: 10px;
}

#map-canvas {
	border: 1px solid #4FA8CD	;
	margin: 10px;
    height: 400px;
}

#googlesrc {
	position:fixed;
	right:0;
	bottom:0;
}