@import url(http://fonts.googleapis.com/css?family=Arimo);

body {
	font-family: 'arimo', sans-serif;
	margin: 40px;
	background-color: #7CC2DD;
	color: #333;
	font-size: 14px;
}

.ui-selectmenu-text, .ui-menu-item {
	font-size: 12px;
}

h1 {
	font-weight:700;
	font-size: 45px;
	color: #247999;
}

input {
	padding: 5px;	
}

#restart {
	margin: 10px;
}

#output {
	margin: 10px;
}

#gamearea, #output {
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid rgb(166, 201, 226);
	margin: 10px; padding: 10px;
}

#map-canvas {
	border: 1px solid #4FA8CD	;
	margin: 10px;
    height: 400px;
}

#googlesrc {
	position:fixed;
	right:0;
	bottom:0;
}